@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
  font-family: "Inter", sans-serif;
}
.wc {
  @apply text-white;
}
.gc {
  @apply text-gray-200;
}
.active-link {
  color: #9055ef;
  font-weight: bold;
  border-bottom: 2px solid #9055ef;
}
